charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
filelock==3.9.1
fonttools==4.39.3
fsspec==2023.6.0
huggingface-hub==0.15.1
idna==3.4
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.7.1
more-itertools==9.1.0
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==23.0
pandas==1.5.3
pathlib==1.0.1
pickle5==0.0.11
Pillow==9.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-metric-learning==2.1.1
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.99
six==1.16.0
tensorflow-addons==0.19.0
threadpoolctl==3.1.0
tokenizers==0.13.2
torch==1.13.1
torchmetrics==0.11.4
tqdm==4.65.0
transformers==4.26.1
typeguard==3.0.2
typing_extensions==4.5.0
urllib3==1.26.15
